p {
    margin: 2px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: newrodin, sans-serif;
}

button > a {
    color: inherit !important;
    text-decoration: none !important;
}

.responsive-iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.pageheader {

}

.pageheader > h3 {
    color: #000000;
    border-bottom: 1px solid #000000;
    line-height: 28px;
    padding: 7px 0;
}

.launcher-download {
    display: block;
    width: 290px;
    box-sizing: border-box;
    margin: 0.5rem auto;
    padding: 1.25rem;
    text-align: center;
    border: none;
    color: white;
    outline: none;
    font-size: 1rem;
    background-color: #212529;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
}

.launcher-download:hover {
    background-color: #424649;
}

.launcher-download:active {
    transform: translateY(0.125rem)
}

#navbarNav {
    margin: 0 12px;
}

.navbar > button {
    margin-left: 8px;
}

.navbar > a {
    margin-left: 8px;
}

.navbar-brand {
    font-family: newrodin, sans-serif;
}

.social-icons {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.social-icons svg {
    margin: 0 20px;
}