p {
    font-family: newrodin, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: newrodin, sans-serif;
}

a {
    font-family: newrodin, sans-serif;
}

button {
    font-family: newrodin, sans-serif;
}

.pageheader {

}

.pageheader > h3 {
    color: #000000;
    border-bottom: 1px solid #000000;
    line-height: 28px;
    padding: 7px 0;
}

#launcherdownload {
    height: 70px;
    width: 100%;
    border-radius: 0;
}