p {
    margin: 2px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: newrodin, sans-serif;
}

button > a {
    color: inherit !important;
    text-decoration: none !important;
}

.pageheader {

}

.pageheader > h3 {
    color: #000000;
    border-bottom: 1px solid #000000;
    line-height: 28px;
    padding: 7px 0;
}

#launcherdownload {
    height: 70px;
    width: 100%;
    border-radius: 0;
}

.navbar-brand {
    font-family: newrodin, sans-serif;
}

#navbarNav {
    flex-flow: row-reverse;
}

.social-icons {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

.social-icons svg {
    margin: 0 20px;
}